/* Colours:

#C9A7CF - Light Violet
#805789 - Violet
#F5E2F9 - Light Pink
#FFFFFF - White
#471850 - Deep Purple
#2C0733 - Dark Purple
#000000 - Black

Fonts:

--Headers:

.rye-regular {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

--Body:

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}
*/

.suggestion-image {
  height: 200px;
}

.main-container {
  display: grid;
  grid-template: 1045px 500px / 3fr 1fr;
  gap: 25px;
  margin: 25px;
}

.article-container {
  grid-area: 1 / 1 / 2 / 2;
}

.article {
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #2C0733;
  padding: 0 20px;
  
}

.article-heading {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  color: #2C0733;
  font-size: 3rem;
}

.article-para {
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 20px;
  color: #2C0733;
}

.para-stop {
  clear: left;
}

.image-frame {
  border: 1px solid #2C0733;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  float: left;
  margin: 0 20px 20px 0;
  background-color: #805789;
}

.article-img {
  height: 200px;
  width: 200px;
}

.image-caption {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #FFFFFF;
  font-size: 0.75rem;
  margin: 0;
  width: 200px;
}