/* Colours:

#C9A7CF - Light Violet
#805789 - Violet
#F5E2F9 - Light Pink
#FFFFFF - White
#471850 - Deep Purple
#2C0733 - Dark Purple
#000000 - Black

Fonts:

--Headers:

.rye-regular {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

--Body:

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}
*/

body {
    width: 100%;
    margin: 0;
    background-color: #F5E2F9;
}

.header-container {
    width: 100%;
    height: 360px;
    display: grid;
    grid-template: 300px 60px / 100%;
}

.title-item {
  display: grid;
  grid-template: 3fr 5fr 5fr / 100%;
  justify-self: center;
}

.np-name {
    margin: 0;
    color: #2C0733;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
}

.name-sub {
  align-self: end;
  font-size: 2.5rem;
  margin-left: 10px;
  margin-bottom: -20px;
}

.name-main {
  justify-self: center;
  font-size: 115px;
}

.title-item > img {
    height: 100px;
    justify-self: center;
}

.navbar-container {
  display: grid;
  grid-template: 100% / repeat(5, 1fr) 3fr;
  gap: 15px;
  padding-left: 15px;
}

.navbar-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #FFFFFF;
  align-self: center;
  justify-self: center;
  background-color: #2C0733;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  vertical-align: middle;
  margin: 0;
  padding: 10px 0;
  text-decoration: none;
}

.navbar-item > p {
  margin: 0;
}

.content-container {
  display: grid;
  width: 100%;
  grid-template: 1fr / 2fr 1fr;
  gap: 15px;
  padding-bottom: 50px;
  border-bottom: 1px solid #2C0733;
}

.articles-container {
  display: grid;
  grid-template: 1fr 2fr 2fr 2fr 2fr / 100%;
  gap: 15px;
  width: 90%;
  margin: 10px 0 0 4%;
  height: max-content;
}

.articles-header {
  font-size: 3rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  text-align: center;
  align-self: center;
}

.preview-item {
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #2C0733;
}

.preview-item img {
  height: 150px;
  float: left;
  border-radius: 10px;
  margin: 2% 10px 2% 2%;
  border: 1px solid #2C0733;
}

.preview-headline {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  width: 95%;
  color: #2C0733;
  font-size: 1.5rem;
  padding: 2%;
  margin-bottom: 0;
}

.features-container {
  border: 1px solid #2C0733;
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  margin-right: 15px;
  width: 85%;
  background-color: #FFFFFF;
}

.market-movements {
  border: 5px solid #2C0733;
  border-radius: 10px;
  margin: 5px;
}

.market-header, .sub-heading {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.1rem;
  color: #C9A7CF;
  background-color: #2C0733;
  height: 20px;
  text-align: center;
  margin: 0;
  padding: 20px 0 25px 0;
}

.stock-updates {
  list-style: none;
  padding: 0 20px;
}

.green {
  background-color: lightgreen;
  border: 1px solid #2C0733;
}

.red {
  background-color: lightcoral;
  border: 1px solid #2C0733;
}

.stock-index {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #2C0733;
}

.movement {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  float: right;
  margin: 0;
  color: #2C0733;
}

.user-submissions {
  border: 5px solid #2C0733;
  border-radius: 10px;
  margin: 10px 5px 0 5px;
}

.submission-box {
  border-bottom: 1px solid #2C0733;
}

.submit-title {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  margin: 10px 0 0 0;
  text-align: center;
  color: #2C0733;
}

.submit-desc {
  margin: 20px 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer-container {
  background-color: #2C0733;
  padding: 20px;
}

.footer-link, .owner {
  margin: 0;
  color:#C9A7CF;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer-a {
  color:#C9A7CF;
}

.footer-a:visited {
  color: #805789;
}

.credits {
  text-align: right;
}

@media (max-width: 900px) {
  .content-container {
    grid-template: 1fr auto / 100%;
  }

  .features-container {
    width: 90%;
    margin: 10px 0 0 4%;
    padding: 0;
  }

  .market-movements {
    margin: 10px;
  }

  .user-submissions {
    margin: 10px;
  }

  .navbar-container {
    grid-template: 100% / repeat(5, 1fr);
    padding-left: 4%;
    width: 90%;
  }
}

@media (max-width: 600px) {
  .navbar-item {
    font-weight: 400;
    font-size: 12px;
  }
}

@media (max-width: 510px) {
  .preview-headline {
    font-size: 1.2rem;
  }
}