/* Colours:

#C9A7CF - Light Violet
#805789 - Violet
#F5E2F9 - Light Pink
#FFFFFF - White
#471850 - Deep Purple
#2C0733 - Dark Purple
#000000 - Black

Fonts:

--Headers:

.rye-regular {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

--Body:

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}
*/

body {
    width: 100%;
    margin: 0;
    background-color: #F5E2F9;
}

.header-container {
    width: 100%;
    height: 360px;
    display: grid;
    grid-template: 300px 60px / 100%;
}

.title-item {
  display: grid;
  grid-template: 3fr 5fr 5fr / 100%;
  justify-self: center;
}

.np-name {
    margin: 0;
    color: #2C0733;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
}

.name-sub {
  align-self: end;
  font-size: 2.5rem;
  margin-left: 10px;
  margin-bottom: -20px;
}

.name-main {
  justify-self: center;
  font-size: 115px;
}

.title-item > img {
    height: 100px;
    justify-self: center;
}

.navbar-container {
  display: grid;
  grid-template: 100% / repeat(5, 1fr) 5fr;
  gap: 15px;
  padding-left: 15px;
  border-top: 1px solid #2C0733;
  border-bottom: 1px solid #2C0733;
}

.navbar-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #FFFFFF;
  align-self: center;
  justify-self: center;
  background-color: #2C0733;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  vertical-align: middle;
  margin: 0;
  padding: 10px 0;
  text-decoration: none;
}

.navbar-item > p {
  margin: 0;
}

.content-container {
  display: grid;
  width: 100%;
  grid-template: 1fr / 2fr 1fr;
  gap: 15px;
}

.articles-container {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 100%;
  gap: 15px;
  width: 100%;
  margin: 10px 0 0 4%;
}

.preview-item {
  
}

.preview-item img {
  height: 200px;
  float: left;
}